<!DOCTYPE html>
<html>
<head>
  <title>LoginApp</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Login</a></li>
            <li role="presentation"><a href="/feed">Feed</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dwitter</h3>
      </div>


      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
          {{{body}}}
        </div>

      </div>

      <footer class="footer">
        <p>&copy; Dwitter, Inc.</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
